.card {
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px #00000033;
    border-radius: 6px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card-body{
    padding: 20px 15px;
    text-align: center;
}

.detail {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    color: black;
    border: 1px solid color(srgb rgba(56, 41, 41, 0.315) rgb(0, 15, 0) blue);
    border-radius: 4px;
    transition: all 400ms ease;
}

.detail:hover {
    background-color:rgba(56, 41, 41, 0.315);
    color: #fff;
}

link {
    text-decoration: none;
    color: black;
    background-color: black;
}

/* .body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    width: 100%;
    display: grid;
    max-width: 1500px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}



} */